<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBLYqecb6fEfk7QA6VG6H3IYpdCsDSS50o</string>
	<key>GCM_SENDER_ID</key>
	<string>836818683368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arcangellmar.firebase.demo.firebaseDemo</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-d2242</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-d2242.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836818683368:ios:1b5db2b3a9188a01af905d</string>
</dict>
</plist>